<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Tacovela @DateTime.Now.Year</span>
            <br>
            <br>
            <span class="text-center">terminos y condiciones <a href="http://files.tacovela.com/App_File/private/aviso-privacidad.pdf" target="_blank">Tacovela.com</a></span>
        </div>
    </div>
</footer>

<!-- End of Footer -->