@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Restablecer Contraseña";
    @model Tacovela.MVC.Models.Authentication.ForgotPasswordViewModel
}


<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
<div class="col-lg-6">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-2">Olvidaste la contraseña?</h1>
            <p class="mb-4">Lo entendemos, esas cosas pasan. Simplemente ingrese su dirección de correo electrónico a continuación y le enviaremos un enlace para restablecer su contraseña.</p>
        </div>
        <div asp-msg-tempdata="None"></div>
        <form class="user" method="post" asp-action="ResetPassword">
            <div class="form-group">
                <span asp-validation-for="Email" class="text-danger"></span>
                <input asp-for="Email" type="email" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Email">
            </div>
            <button class="btn btn-primary btn-user btn-block" type="submit">Restablecer Contraseña</button>
        </form>
        <hr>
        <div class="text-center">
            <a class="small" href="@Url.Action("Register","Authentication")">Crear una cuenta!</a>
        </div>
        <div class="text-center">
            <a class="small" href="@Url.Action("Index","Authentication")">Ya tienes una cuenta? Login!</a>
        </div>
    </div>
</div>
