
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Restablecer Contraseña";
    @model Tacovela.MVC.Models.User.ResetPasswordViewModel
}

<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
<div class="col-lg-6" style="min-height: 42rem">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-2">Restablecer Contraseña</h1>
            <p class="mb-4">
                Favor de ingresar la nueva contraseña.
            </p>
        </div>
        @*<div asp-valitadion-summary-custom="None"></div>*@
        <div asp-msg-tempdata="None"></div>
        <form class="user" method="post" asp-action="ResetPasswordVerification">
            <input asp-for="Id" type="hidden">

            <div class="form-group">
                <span asp-validation-for="Password" class="text-danger"></span>
                <input asp-for="Password" type="password" class="form-control form-control-user" placeholder="Contraseña">

            </div><div class="form-group">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <input asp-for="ConfirmPassword" type="password" class="form-control form-control-user" placeholder="Re-Contraseña">
            </div>
            <button class="btn btn-primary btn-user btn-block" type="submit">Restablecer Contraseña</button>
        </form>
    </div>
</div>