@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Activar Cuenta";
    @model Tacovela.MVC.Models.User.ActivationAccountViewModel
}

<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
<div class="col-lg-6" style="min-height: 42rem">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-2">Cuenta no activada!</h1>
            <p class="mb-4">
                Podemos enviar un correo de activación a su correo electronico registrado para activar la cuenta.
            </p>
        </div>
        @*<div asp-valitadion-summary-custom="None"></div>*@
        <div asp-msg-tempdata="None"></div>
        <form class="user" method="post" asp-action="SendMailActivationAccount">
            <input asp-for="Email" type="hidden">
            <button class="btn btn-primary btn-user btn-block" type="submit">Enviar correo de activación</button>
        </form>
        <hr>
        <div class="text-center">
            <a class="small" href="@Url.Action("Index","Authentication")">Regresar a Login</a>
        </div>
    </div>
</div>
