@{
    Layout = null;
    @model Tacovela.MVC.Models.Category.CategoryViewModel
}


<form method="post" asp-action="DeleteCategoria">
    <div class="modal-header">
        <h5 class="modal-title">Estas seguro de eliminar el Categoría?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">
        Selecciona "Si, Eliminar" para que el categoría sea eliminado.
        <input asp-for="Id" type="hidden" />
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Si, Eliminar</button>

    </div>
</form>

