@{
    Layout = null;
}


<form method="post" asp-action="DeleteAdmin">
    <div class="modal-header">
        <h5 class="modal-title">Estas seguro de eliminar el Usuario?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">
        Selecciona "Si, Eliminar" para que el usuario admin sea eliminado.
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Si, Eliminar</button>

    </div>
</form>

