@{
    ViewData["Title"] = "Perfil";
    @model Tacovela.MVC.Models.User.UserViewModel

    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    @using Tacovela.MVC.Core.Extensions;
    @using Tacovela.MVC.Models.Authentication;
    
    var userSession = SessionExtension.GetObjectFromJson<LoginUserViewModel>(HttpContextAccessor.HttpContext.Session, "UserSession");
   
    if (userSession.Type == (int)Tacovela.MVC.Core.Enums.UserType.Client)
    {
        Layout = "_OrderLayout";
    }
    else
    {
        Layout = "_Layout";
    }
}

<h2>Perfil de Usuario</h2>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#perfil">Perfil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("EditAddress","User")">Dirección</a>
    </li>
</ul>

<div class="row mb-5">
    <div class="col-lg-6">
        <div class="card">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active container" id="perfil">
                    <div class="card-body">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-10">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">Perfil de Usuario</h1>
                                    <p class="mb-4">Cualquier información mal registrada podra alterar aqui.</p>
                                </div>

                                <form class="user" role="form" method="post" asp-action="EditProfile">
                                    <div asp-msg-tempdata="None"></div>
                                    <div class="form-group">
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                        <input asp-for="FirstName" type="text" class="form-control form-control-user" placeholder="Nombre(s)" />
                                    </div>
                                    <div class="form-group">
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                        <input asp-for="LastName" type="text" class="form-control form-control-user" placeholder="Apellido(s)" />
                                    </div>
                                    <div class="form-group">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                        <input asp-for="Email" type="email" class="form-control form-control-user" placeholder="Email" />
                                    </div>
                                    <div class="form-group">
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        <input asp-for="PhoneNumber" type="tel" class="form-control form-control-user" placeholder="Teléfono" />
                                    </div>
                                    <div class="form-group text-right">
                                        <a class="form-control-label" href="@Url.Action("ChangePassword","User")">Cambiar Contraseña</a>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control form-control-user" type="password" placeholder="Contraseña" value="***************" readonly />
                                    </div>
                                    <div class="form-group">
                                        <input type="reset" class="btn btn-secondary" value="Cancelar" />
                                        <button type="submit" class="btn btn-success">Guardar Cambios</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="" style="margin: 1.25rem;">
                <div class="card-body">
                    <div class="text-center">
                        <img src="//placehold.it/200" class="img-cover img-max-200 rounded-circle" alt="avatar" id="img-profile" />

                    </div>
                    <h6 class="mt-2">Subir Foto</h6>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" data-img-preview="img-profile" accept="image/*">
                        <label class="custom-file-label" for="customFile">Escoger una Foto</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

