@{
    ViewData["Title"] = "Usuario Admin";
    @model Tacovela.MVC.Models.User.CreateAdminViewModel
}

<h2>@ViewData["Title"]</h2>



<div class="row mb-5">
    <div class="col-lg-6">
        <div class="card">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active container" id="perfil">
                    <div class="card-body">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-10">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">Nuevo Usuario Admin</h1>
                                    <p class="mb-4">Para crear un nuevo administrador debera llenar el siguiente formulario.</p>
                                </div>

                                <form class="user" role="form" method="post" asp-action="NewAdmin">
                                    <div asp-msg-tempdata="None"></div>
                                    <div class="form-group">
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                        <input asp-for="FirstName" type="text" class="form-control form-control-user" placeholder="Nombre(s)" />
                                    </div>
                                    <div class="form-group">
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                        <input asp-for="LastName" type="text" class="form-control form-control-user" placeholder="Apellido(s)" />
                                    </div>
                                    <div class="form-group">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                        <input asp-for="Email" type="email" class="form-control form-control-user" placeholder="Email" />
                                    </div>
                                    <div class="form-group">
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        <input asp-for="PhoneNumber" type="tel" class="form-control form-control-user" placeholder="Teléfono" />
                                    </div>
                                    <div class="form-group">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                        <input asp-for="Password" class="form-control form-control-user" type="password" placeholder="Contraseña" />
                                    </div>
                                    <div class="form-group">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        <input asp-for="ConfirmPassword" type="password" class="form-control form-control-user" placeholder="Re-Contraseña">
                                    </div>
                                    <div class="form-group">
                                        <input type="reset" class="btn btn-secondary" value="Cancelar" />
                                        <button type="submit" class="btn btn-success">Guardar Cambios</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

