@{
    ViewData["Title"] = "Pedidos";
    @model List<Tacovela.MVC.Models.Order.OrderViewModel>

    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    @using Tacovela.MVC.Core.Extensions;
    @using Tacovela.MVC.Models.Authentication;

    var userSession = SessionExtension.GetObjectFromJson<LoginUserViewModel>(HttpContextAccessor.HttpContext.Session, "UserSession");
    var classDiv = "";
    if (userSession.Type == (int)Tacovela.MVC.Core.Enums.UserType.Client)
    {
        Layout = "_OrderLayout";
        classDiv = "col-lg-12";
    }
    else
    {
        Layout = "_Layout";
        classDiv = "col-lg-9";
    }
}
    <form class="user" method="post" asp-action="List">
        <div class="col-12 mb-3">
            <div class="row">
                <div class="col-2">
                    <label for="txtStartDate">Inicio</label>
                    <input name="startDate" class="form-control" type="date" value="@ViewBag.StartDate.ToString("yyyy-MM-dd")" id="txtStartDate">
                </div>
                <div class="col-2">
                    <label for="txtEndDate">Fin</label>
                    <input name="endDate" class="form-control" type="date" value="@ViewBag.EndDate.ToString("yyyy-MM-dd")" id="txtEndDate">
                </div>
                <div class="col-1">
                    <button class="btn btn-primary btn-block" style="margin-top: 30px;" type="submit">Buscar</button>
                </div>
            </div>
        </div>
    </form>



<div class="@classDiv">
    <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#divPending" role="tab" aria-controls="divPending" aria-selected="true">Pendientes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#divInPreparation" role="tab" aria-controls="divInPreparation" aria-selected="false">En Preparación</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#divOnWay" role="tab" aria-controls="divOnWay" aria-selected="false">En Camino</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#divDelivered" role="tab" aria-controls="divDelivered" aria-selected="false">Entregado</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#divCanceled" role="tab" aria-controls="divCanceled" aria-selected="false">Cancelado</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="card tab-pane fade show active" id="divPending" role="tabpanel" aria-labelledby="pills-home-tab">
            @{
                await Html.RenderPartialAsync("_ListTabOrder", Model.Where(w => w.Status == Tacovela.MVC.Models.Order.OrderStatus.Pending).ToList());
            }
        </div>
        <div class="card tab-pane fade show" id="divInPreparation" role="tabpanel" aria-labelledby="pills-home-tab">
            @{
                await Html.RenderPartialAsync("_ListTabOrder", Model.Where(w => w.Status == Tacovela.MVC.Models.Order.OrderStatus.InPreparation).ToList());
            }
        </div>
        <div class="card tab-pane fade show" id="divOnWay" role="tabpanel" aria-labelledby="pills-home-tab">
            @{
                await Html.RenderPartialAsync("_ListTabOrder", Model.Where(w => w.Status == Tacovela.MVC.Models.Order.OrderStatus.OnWay).ToList());
            }
        </div>
        <div class="card tab-pane fade show" id="divDelivered" role="tabpanel" aria-labelledby="pills-home-tab">
            @{
                await Html.RenderPartialAsync("_ListTabOrder", Model.Where(w => w.Status == Tacovela.MVC.Models.Order.OrderStatus.Delivered).ToList());
            }
        </div>
        <div class="card tab-pane fade show" id="divCanceled" role="tabpanel" aria-labelledby="pills-home-tab">
            @{
                await Html.RenderPartialAsync("_ListTabOrder", Model.Where(w => w.Status == Tacovela.MVC.Models.Order.OrderStatus.Canceled).ToList());
            }
        </div>
    </div>

</div>
